name: Auto 48H EPG

on:
  workflow_dispatch:
  schedule:
    - cron: "0 1 * * *"

jobs:
  update-epg:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: pip install requests

      - name: Generate EPG
        run: python update_epg.py

      - name: Commit changes
        run: |
          git config user.name "epg-bot"
          git config user.email "epg@bot.com"
          git add epg.xml
          git commit -m "Auto update EPG" || true
          git push
