name: Auto 48H EPG

on:
  workflow_dispatch:
  schedule:
    - cron: "0 1 * * *"

jobs:
  epg:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - run: pip install requests
      - run: python update_epg.py

      - run: |
          git config user.name "epg-bot"
          git config user.email "epg@bot.com"
          git add epg.xml
          git commit -m "auto update epg" || true
          git push
